body{background-image:url("jjhg.jpg"); background-size:cover; background-attachment: scroll;}
div.a{background-color: #001a33;color:white;padding:1px ; margin-bottom: 100px;}
h1{background-color: red;padding:10px;font-weight:1000;}
button.s{background-color: #001a33 ; border:none; font-style:sans-serif;color:white;   float: right; padding:15px;}
button.s:hover{background-color:#ff0000; color:white;}
P{COLOR:#001a33;font-size:25px;text-align:right;}
h2{font-size:50px;text-align:right;color:#001a33;}
button.l{background-color: #ff0000 ; border:none;border-radius:20px; font-style:sans-serif;color:white;  margin-right:150px; float: right; padding:15px;}
button.l:hover{background-color: #990000; border-radius:20px;color:white;}
div.c{background-color: #001a33;color:white;padding:10px ; margin-top: 500px;margin-bottom: 50px;}
button.t{background-color: #001a33 ; border:none;border-radius:20px; font-style:sans-serif;color:white;  margin:70px; padding:13px;}
button.t:hover{background-color: #990000; border-radius:10px;color:white;}
img{margin:10px 30px;opacity:1;padding: 20px;}
img:hover{ opacity:0.5;}
h6{font-size:20px;text-align:center;color:#001a33;}